
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gizlilik ve Güvenlik Hususları - Süt Ürünleri Tanıtımı</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        html, body {
            max-width: 100%;
            overflow-x: hidden;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 30px;
        }

        h2 {
            font-size: 28px;
            margin-bottom: 25px;
        }

        p {
            font-size: 20px;
            margin-bottom: 25px;
        }

        ul {
            font-size: 20px;
            margin-bottom: 25px;
            padding-left: 20px;
        }

        a {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <br>
    <br>
    <br>

    <h1>Gizlilik ve Güvenlik Hususları - Süt Ürünleri Tanıtımı</h1>

    <h2>Gizlilik Politikası</h2>
    <p>
        Süt ürünleri tanıtımı web sitemiz, kullanıcıların gizliliğini korumak için çeşitli önlemler almaktadır. Kullanıcılarımızın kişisel bilgilerini toplamak, kullanmak ve saklamakla ilgili olarak aşağıdaki politikaları benimsiyoruz:
    </p>
    <ul>
        <li>Kişisel bilgilerinizi toplamak için sadece gerekli olan bilgileri talep ediyoruz ve bu bilgileri sadece belirtilen amaçlar için kullanıyoruz.</li>
        <li>Topladığımız kişisel bilgileri üçüncü şahıslarla paylaşmıyoruz veya satmıyoruz.</li>
        <li>Gizlilik politikamızı zaman zaman güncelleyebiliriz ve güncellenmiş politikaları web sitemizde yayınlayarak kullanıcılarımızı bilgilendiririz.</li>
    </ul>

    <h2>Güvenlik Önlemleri</h2>
    <p>
        Süt ürünleri tanıtımı web sitesi, kullanıcı bilgilerini korumak için çeşitli güvenlik önlemleri almaktadır:
    </p>
    <ul>
        <li>Kullanıcı bilgilerini korumak için güvenli ve şifrelenmiş iletişim protokolleri kullanıyoruz.</li>
        <li>Web sitemizdeki tüm kullanıcı etkileşimleri HTTPS üzerinden gerçekleştirilir.</li>
        <li>Güvenlik açıklarını ve zayıflıkları düzenli olarak tarar ve kapatmak için gerekli önlemleri alırız.</li>
    </ul>

    <p>
        Süt ürünleri tanıtımı hakkında daha fazla bilgi almak veya gizlilik ve güvenlik hususlarıyla ilgili sorularınızı sormak için lütfen <a href="mailto:sutUrunleri24@gmail.com">sutUrunleri24@gmail.com</a> adresine e-posta gönderin.
    </p>


</body>
</html>
