<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımda - PocketWord</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    

        h1 {
            color: #333;
            font-size: 34px;
            margin-bottom: 20px;
        }

        p {
            color: #666;
            font-size: 26px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
  
    <br>
    <br>
    <br>
    <br>
    <br>

    <main>
        <section>
            <h2>Ben Kimim?</h2>
            <p>Merhaba, ben Ramazan! Bir öğrenci olarak Hızır Reis MTAL lisesinde Süt Ürünleri Tanıtımı üzerine çalışmalar yapıyorum ve web geliştirme, yazılım geliştirme gibi konulara ilgi duyuyorum.</p>
        </section>

        <section>
            <p>Bunun gibi birçok sayfa tasarladım ama MVC'ye alışmam için biraz daha zaman gerekecek.</p>
        </section>

        <section>
            <h2>Yeteneklerim</h2>
            <ul>
                <li>Web Geliştirme</li>
                <li>Yazılım Geliştirme</li>
                <li>Veri Analizi</li>
                <li>Proje Yönetimi</li>
            </ul>
        </section>

        <section>
            <h2>İlgi Alanlarım</h2>
            <p>Boş zamanlarımda ilgilendiğim konular:</p>
            <ul>
                <li>Kitap Okuma</li>
                <li>Yürüyüş Yapma</li>
                <li>Müzik Dinleme</li>
            </ul>
        </section>
    </main>


</body>
</html>
