<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim - PocketWord</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      

        h1 {
            color: #333;
            font-size: 34px;
            margin-bottom: 20px;
        }

        p {
            color: #666;
            font-size: 26px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <br>
    <br>

    <main>
        <section>
            <h1>İletişim</h1>
            <p>Merhaba, ben Ramazan! Aşağıda iletişim bilgilerimi bulabilirsiniz.</p>
        </section>

        <section>
            <h2>Adres</h2>
            <p>Hızır Reis Mahallesi, 522. Sokak, No:11/A</p>
            <p>Antalya, Türkiye</p>
        </section>

        <section>
            <h2>Telefon</h2>
            <p>+90 345 132 23 23</p>
        </section>

        <section>
            <h2>E-posta</h2>
            <p> <a href="mailto:sutUrunleri24@gmail.com" style="color: #007bff; text-decoration: none;">sutUrunleri24@gmail.com</a></p>
        </section>

        <section>
            <h2>Sosyal Medya</h2>
            <p><a href="https://twitter.com/elonmusk" target="_blank">Twitter</a></p>
            <p><a href="https://www.linkedin.com/company/spacex" target="_blank">LinkedIn</a></p>
            <p><a href="https://github.com/topics/elon-musk" target="_blank">GitHub</a></p>
        </section>
    </main>
</body>
</html>
