<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yan Yana Kutular</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <style>

        html, body {
            max-width: 100%;
            overflow-x: hidden;
         
        }
        h2{

            text-align:center;
          
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            min-width: 1500px;
            
        }

        .box {
            width: calc(25% - 10px);
            height: 580px;
            background-color: #f0f0f0;
            border: 3px solid #000;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }

        .resim {
            height: 470px;
            width: 100%; /* Resimlerin container'ı doldurması için */
            border: 2px solid #000;
            border-radius: 10px;
            object-fit: cover; /* Resimlerin oranlarını koruyarak sığması için */
        }

        .btn {
            width: 300px;
            z-index: 1000;
            position: relative;
            left: -1170px;
            top: 29px;
            margin-top: 5px;
        }
        
        .yazi {
            text-align: center;
            font-weight: bolder;
            font-size: 20px;
            color: black;
            text-align:center;
        }

        .box .container {
            margin-top: auto;
        }


        * {
            box-sizing: border-box;
        }

        .foto {
            max-width: 400px;
            height: 600px;
            margin: auto; /* Resmi yatayda ortalamak için */
            display: block; /* Resmi blok olarak göstermek için */
        }

        .carousel-control-prev,
        .carousel-control-next {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            z-index: 10;
            opacity: 1;
            height: 50px;
            width: 50px;
            position: absolute;
            top: 250px; /* Butonları 200px aşağıya indirir */
        }


        .carousel-control-prev-icon {
            color: white;
            font-size: 24px;
            line-height: 50px;
            content: "\2039"; /* Sol ok karakteri */
        }

        .carousel-control-next-icon {
            color: white;
            font-size: 24px;
            line-height: 50px;
            content: "\203A"; /* Sağ ok karakteri */
        }

        ::-webkit-scrollbar {
            display: none;
        }

        .satinAlin {
            font-family: Arial, sans-serif;
            font-size: 24px;
            font-weight: bold;
            color: yellow; /* Yazı rengi */
            background-color: black; /* Arkaplan rengi */
            padding: 10px 20px; /* Yazı etrafındaki iç boşluk */
            border-radius: 10px; /* Köşelerin yuvarlanma derecesi */
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Gölgelendirme */
        }

        .yeni_resim{
            border: 2px solid #000;
            height: 450px;
            border-radius:10px;

        }

        .ozel {
            margin-bottom: 20px; /* Maddeler arasında 20 piksel boşluk bırakır */
        }

        

    </style>
</head>
<body>
    <br>
    <p class="satinAlin">Sütler</p>
    <div class="row">
    <div class="col-md-3">
        <div class="container">
            <div class="box">
                    <img src="/images/uruns/sut/cilek/1.png" class="yeni_resim d-block w-100">
                <div class="container mt-3">
                        <p class="yazi">Çilekli Süt</p>
                    <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal1">Daha Fazla Bilgi</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="container">
            <div class="box">
                    <img src="/images/uruns/sut/cikolata/1.png" class="yeni_resim d-block w-100">
                <div class="container mt-3">
                        <p class="yazi">Çikolatalı Süt</p>
                    <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal2">Daha Fazla Bilgi</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="container">
            <div class="box">
                    <img src="/images/uruns/sut/muz/1.png" class="yeni_resim d-block w-100">
                <div  class="container mt-3">
                        <p class="yazi">Muzlu Süt</p>
                    <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal3">Daha Fazla Bilgi</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="container">
            <div class="box">
                    <img src="/images/uruns/sut/vanilya/1.png" class="yeni_resim d-block w-100">
                <div class="container mt-3">
                        <p class="yazi">Vanilyalı Süt</p>
                    <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal4">Daha Fazla Bilgi</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 1 -->
<div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Çilekli Süt</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="~/images/uruns/sut/cilek/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/sut/cilek/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/sut/cilek/4.png" alt="Third slide">
                            </div>
                           
                        </div>
                       
                    </div>
                    <hr>
                   
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/fjK_CYniMx0" frameborder="0" allowfullscreen></iframe>
                 
                    <hr>
                    <h1>Çilekli Sütün Faydaları</h1>
                    <br>

                    <ul>
                        <li class="ozel">Çilekli süt, çilek ve sütün birleşimiyle yüksek miktarda vitamin ve mineral içerir.</li>

                        <li class="ozel">Çilekli süt, vücuda kalsiyum sağlayarak kemik sağlığını destekler.</li>
                           
                        <li class="ozel">İçeriğindeki antioksidanlar sayesinde çilekli süt, vücudu serbest radikallerin zararlı etkilerine karşı korur.</li>
                        <li class="ozel">Çilekli süt, sindirim sistemini destekleyen lif içeriğine sahiptir.</li>
                        <li class="ozel">Çilek, içerdiği C vitamini ile bağışıklık sistemini güçlendirir ve çilekli süt bu faydalı vitamini içerir.</li>
                        <li class="ozel">Çilekli süt, enerji seviyelerini artırabilir ve günlük aktiviteler için gereken enerjiyi sağlayabilir.</li>
                        <li class="ozel">Çilekli süt, kan basıncını düzenlemeye yardımcı olan potasyum içerir.</li>
                        <li class="ozel">Çilekli süt, içerdiği protein ile kas sağlığını destekler.</li>
                        <li class="ozel">Çilekli süt, içeriğindeki folat ile hücrelerin ve dokuların yenilenmesine yardımcı olabilir.</li>
                        <li class="ozel">Lezzetli ve besleyici olmasının yanı sıra çilekli süt, çocukların süt tüketme alışkanlığını geliştirmelerine yardımcı olabilir.</li>
                    </ul>




                    

                </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="myModal2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title">Çikolatalı Süt</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="/images/uruns/sut/cikolata/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="/images/uruns/sut/cikolata/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="/images/uruns/sut/cikolata/4.png" alt="Third slide">
                            </div>
                           
                        </div>
                        
                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/chygi1L_YJ0" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h1>Çikolatalı Sütün Faydaları</h1>
                    <br>

                    <ul>
                        <li class="ozel">Çikolatalı süt, kalsiyum ve protein bakımından zengin bir içecektir.</li>
                        <li class="ozel">Çikolatalı süt, kemik sağlığını destekleyen kalsiyum içerir.</li>
                        <li class="ozel">Kakao içeriği, çikolatalı sütü antioksidanlar bakımından zengin yapar ve hücrelere zarar veren serbest radikallere karşı korur.</li>
                        <li class="ozel">Çikolatalı süt, enerji seviyelerini artırabilir ve günlük aktiviteler için gereken enerjiyi sağlayabilir.</li>
                        <li class="ozel">Kakao, içerdiği flavonoidler sayesinde kalp sağlığını destekler ve kan basıncını düzenler.</li>
                        <li class="ozel">Çikolatalı süt, çocuklara kalsiyum alımını teşvik edebilir ve kemik gelişimini destekleyebilir.</li>
                        <li class="ozel">Kakao, beyin fonksiyonlarını iyileştirebilir ve bilişsel performansı artırabilir.</li>
                        <li class="ozel">Çikolatalı süt, egzersiz sonrası kas iyileşmesini hızlandırabilir ve kas kütlesini artırabilir.</li>
                        <li class="ozel">Kakao içeriği, ruh halini iyileştiren endorfin ve serotonin salgılanmasını teşvik edebilir.</li>
                        <li class="ozel">Çikolatalı süt, lezzetli ve besleyici bir alternatif olarak çocukların süt tüketme alışkanlığını geliştirebilir.</li>
                    </ul>


                </div>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="myModal3">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title">Muzlu Süt</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="~/images/uruns/sut/muz/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/sut/muz/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/sut/muz/4.png" alt="Third slide">
                            </div>
                        </div>
                        
                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/WwZh_glHsNg" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h1>Muzlu Sütün Faydaları</h1>
                    <br>

                    <ul>
                        <li class="ozel">Muzlu süt, potasyum ve vitamin bakımından zengin bir içecektir.</li>
                        <li class="ozel">Muzlu süt, kasları güçlendiren potasyum içerir.</li>
                        <li class="ozel">Muz, içerdiği lif sayesinde sindirim sistemini düzenleyebilir ve kabızlık riskini azaltabilir.</li>
                        <li class="ozel">Muzlu süt, içerdiği B6 vitamini ile enerji seviyelerini artırabilir ve stresle başa çıkmaya yardımcı olabilir.</li>
                        <li class="ozel">Muzlu süt, sindirimi kolaylaştırır ve mideyi yatıştırabilir, bu da sindirim rahatsızlıklarını hafifletebilir.</li>
                        <li class="ozel">Muzlu süt, günlük lif ihtiyacını karşılayarak sindirim sağlığını destekler.</li>
                        <li class="ozel">Muz, içerdiği potasyum sayesinde kan basıncını düzenleyebilir ve kalp sağlığını destekleyebilir.</li>
                        <li class="ozel">Muzlu süt, içerdiği kalsiyum ve proteinle kemik sağlığını destekler.</li>
                        <li class="ozel">Muz, içerdiği magnezyum ile kas kramplarını önleyebilir ve kasların sağlıklı fonksiyonlarını sürdürmesine yardımcı olabilir.</li>
                        <li class="ozel">Muzlu süt, lezzetli ve besleyici bir içecek olmanın yanı sıra çocuklara sağlıklı beslenme alışkanlıkları kazandırmak için ideal bir seçenektir.</li>
                    </ul>


                </div>
        </div>
    </div>
</div>

<!-- Modal 4 -->
<div class="modal fade" id="myModal4">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title">Vanilyalı Süt</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="~/images/uruns/sut/vanilya/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/sut/vanilya/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/sut/vanilya/4.png" alt="Third slide">
                            </div>
                        </div>
                        
                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/O72m90NPnBE" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Vanilyalı Sütün Faydaları</h2>
                    <ul>
                        <li class="ozel">Vanilyalı süt, kalsiyum ve D vitamini bakımından zengin bir içecektir.</li>
                        <li class="ozel">Vanilyalı süt, kemikleri güçlendiren kalsiyum içerir.</li>
                        <li class="ozel">Vanilyalı süt, sindirimi düzenleyebilir ve sindirim sistemini destekleyebilir.</li>
                        <li class="ozel">Vanilyalı süt, içerdiği D vitamini ile bağışıklık sistemini güçlendirebilir.</li>
                        <li class="ozel">Vanilyalı süt, sindirimi kolaylaştırır ve mide sağlığını destekleyebilir.</li>
                        <li class="ozel">Vanilyalı süt, günlük kalsiyum ihtiyacını karşılayarak kemik sağlığını destekler.</li>
                        <li class="ozel">Vanilyalı süt, içerdiği proteinle kasların sağlıklı fonksiyonlarını destekler.</li>
                        <li class="ozel">Vanilyalı süt, lezzetli ve besleyici bir içecek olmanın yanı sıra çocuklara sağlıklı beslenme alışkanlıkları kazandırmak için ideal bir seçenektir.</li>
                    </ul>


                </div>
        </div>
    </div>
</div>

    <br>
    <br>
    <p class="satinAlin">Peynirler</p>

    <div class="row">
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/peynir/cecil/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Çeçil Peynir</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal9">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/peynir/hellim/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Hellim Peynir</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal10">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/peynir/lor/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Lor Peynir</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal11">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/peynir/taze/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Taze Peynir</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal12">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

    <!-- Modal 1 -->
   
    <div class="modal fade" id="myModal9">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Çeçil Peynir</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="~/images/uruns/peynir/cecil/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/peynir/cecil/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/peynir/cecil/4.png" alt="Third slide">
                            </div>
                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/fSkY9ppDwI8" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Çeçil Peyniri Özellikleri</h2>
                    <ul>
                        <li class="ozel">Çeçil peyniri, probiyotik içeriğiyle sindirim sağlığını destekler ve bağırsak florasını dengeler.</li>
                        <li class="ozel">Çeçil peyniri, içerdiği kalsiyum ve fosfor ile diş sağlığını korur ve diş çürümelerini önleyebilir.</li>
                        <li class="ozel">Çeçil peyniri, içerdiği A vitamini ile göz sağlığını destekler ve görme yeteneğini güçlendirebilir.</li>
                        <li class="ozel">Çeçil peyniri, içerdiği çinko ile cilt sağlığını korur ve ciltteki iltihaplanmaları azaltabilir.</li>
                        <li class="ozel">Çeçil peyniri, içerdiği omega-3 yağ asitleri ile beyin fonksiyonlarını destekler ve bilişsel yetenekleri artırabilir.</li>
                        <li class="ozel">Çeçil peyniri, içerdiği lif ile tokluk hissini artırır ve kilo kontrolüne yardımcı olabilir.</li>
                        <li class="ozel">Çeçil peyniri, lezzetli ve besleyici bir besin olmanın yanı sıra çocuklara sağlıklı beslenme alışkanlıkları kazandırmak için ideal bir seçenektir.</li>
                    </ul>


                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="modal fade" id="myModal10">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Hellim Peyniri</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="~/images/uruns/peynir/hellim/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/peynir/hellim/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/peynir/hellim/4.png" alt="Third slide">
                            </div>
                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/zjeZtpM0MrE" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Hellim peynirinin Özellikleri</h2>
                    <ul>
                        <li class="ozel">Hellim peyniri, kalsiyum ve protein açısından zengin bir besindir.</li>
                        <li class="ozel">Hellim peyniri, kemik sağlığını destekleyen kalsiyum içerir.</li>
                        <li class="ozel">Hellim peyniri, içerdiği protein ile kasları güçlendirir ve onarımını destekler.</li>
                        <li class="ozel">Hellim peyniri, içerdiği B12 vitamini ile sinir sistemi sağlığını destekler.</li>
                        <li class="ozel">Hellim peyniri, sindirimi destekleyebilir ve sindirim sisteminin düzenli çalışmasına yardımcı olabilir.</li>
                        <li class="ozel">Hellim peyniri, içerdiği fosfor ile diş ve kemik sağlığını destekleyebilir.</li>
                        <li class="ozel">Hellim peyniri, lezzetli ve doyurucu bir atıştırmalık olmanın yanı sıra sağlıklı bir beslenme programında çeşitlilik sağlar.</li>
                    </ul>



                </div>
            </div>
        </div>
    </div>
     <div class="modal fade" id="myModal11">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Lor Peyniri</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="~/images/uruns/peynir/lor/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/peynir/lor/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/peynir/lor/4.png" alt="Third slide">
                            </div>
                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/JJ7V_Yau9ws" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Lor Peynirinin Özellikleri</h2>
                    <ul>
                        <li class="ozel">Lor peyniri, düşük yağ ve yüksek protein içeriğiyle dengeli bir besindir. Ayrıca düşük kalori içeriğiyle kilo kontrolüne yardımcı olabilir ve sağlıklı bir diyetin parçası olarak tercih edilebilir.</li>
                        <li class="ozel">Lor peyniri, içerdiği kalsiyum ile kemik sağlığını destekler. Bunun yanı sıra içerdiği protein ile kas yapımını destekleyebilir ve tokluk hissini artırarak atıştırmalıklar arasında tercih edilebilir.</li>
                        <li class="ozel">Lor peyniri, sindirimi kolaylaştırır ve sindirim sisteminin düzenli çalışmasına yardımcı olabilir. Ayrıca içerdiği folat ile hücre yenilenmesini destekler ve hamilelik döneminde önemli bir besindir.</li>
                        <li class="ozel">Lor peyniri, içerdiği B2 vitamini ile enerji metabolizmasını destekler ve cilt sağlığını korur. Düşük laktoz içeriği ile laktoz intoleransı olan bireyler tarafından kolaylıkla tüketilebilir.</li>
                        <li class="ozel">Lor peyniri, düşük sodyum içeriği ile kan basıncını düzenlemeye yardımcı olabilir. İçerdiği potasyum ile kas ve sinir fonksiyonlarını destekleyebilir ve kan basıncını dengeleyebilir.</li>
                        <li class="ozel">Lor peyniri, içerdiği fosfor ile diş ve kemik sağlığını destekler. Ayrıca içerdiği A vitamini ile göz sağlığını destekler ve antioksidan özellik gösterebilir.</li>
                        <li class="ozel">Lor peyniri, lezzetli ve hafif bir atıştırmalık olmanın yanı sıra pek çok yemeğin içinde kullanılabilir, böylece besin değerini artırır. Çeşitli meyve veya sebzelerle kombin edilerek besin çeşitliliğini artırabilir ve sağlıklı atıştırmalıklar oluşturabilir.</li>
                    </ul>



                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal12">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Taze Peynir</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="~/images/uruns/peynir/taze/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/peynir/taze/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/peynir/taze/4.png" alt="Third slide">
                            </div>
                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/geU1s4bAZZk" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Taze Peynirin Özellikleri</h2>
                    <ul>
                        <li class="ozel">Taze peynir, düşük yağ içeriğiyle hafif bir besindir ve kilo kontrolüne yardımcı olabilir.</li>
                        <li class="ozel">Taze peynir, yüksek protein içeriğiyle kas yapımını destekler ve tokluk hissini artırabilir.</li>
                        <li class="ozel">Taze peynir, kalsiyum açısından zengin bir kaynaktır ve kemik sağlığını destekleyebilir.</li>
                        <li class="ozel">Taze peynir, probiyotik özelliklere sahip olabilir ve sindirim sistemi sağlığını destekleyebilir.</li>
                        <li class="ozel">Taze peynir, içerdiği B vitaminleri ile enerji seviyelerini artırabilir ve metabolizmayı destekleyebilir.</li>
                        <li class="ozel">Taze peynir, düşük tuz içeriğiyle kan basıncını dengeleyebilir ve kalp sağlığını koruyabilir.</li>
                        <li class="ozel">Taze peynir, lezzetli ve çok yönlü bir besin olmanın yanı sıra salatalarda, sandviçlerde veya atıştırmalıklarda kullanılabilir.</li>
                    </ul>



                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <p class="satinAlin">Kaymaklar</p>

    <div class="row">
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/kaymak/kavrulmus/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Kavrulmuş Kaymak</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal9">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/kaymak/mayali/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Mayalı Kaymak</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal10">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/kaymak/pastorize/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Pastorize Edilmiş Kaymak</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal11">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/kaymak/taze/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Taze Kaymak</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal12">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Modal 1 -->

    <div class="modal fade" id="myModal9">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Kavrulmuş Kaymak</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="~/images/uruns/kaymak/kavrulmus/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/kaymak/kavrulmus/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/kaymak/kavrulmus/4.png" alt="Third slide">
                            </div>
                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/KT50ndakRW4" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Kavrulmuş Kaymak Özellikleri</h2>
                    <ul>
                        <li class="ozel">Kavrulmuş kaymak, taze peynirin zengin ve kremamsı tadını yoğunlaştırır ve kıtır bir doku kazandırır.</li>
                        <li class="ozel">Kavrulmuş kaymak, yüksek yağ içeriğiyle tatlı bir lezzet sunar ve özellikle kahvaltılarda veya tatlılarda tercih edilir.</li>
                        <li class="ozel">Kavrulmuş kaymak, taze peynirin besleyici özelliklerini korurken, ekstra lezzet ve aroma katmanı oluşturur.</li>
                        <li class="ozel">Kavrulmuş kaymak, fırında veya tavada hafifçe kızartılarak hazırlanabilir ve sıcak servis edildiğinde enfes bir lezzet sunar.</li>
                        <li class="ozel">Kavrulmuş kaymak, kahvaltıların ve tatlıların vazgeçilmez bir parçası olabilir ve çeşitli tariflerde kullanılabilir.</li>
                        <li class="ozel">Kavrulmuş kaymak, içerdiği yüksek kalsiyum ile kemik sağlığını destekler ve dişlerin güçlenmesine yardımcı olabilir.</li>
                        <li class="ozel">Kavrulmuş kaymak, enerji verici bir atıştırmalık olarak tüketilebilir ve gün içindeki yorgunluğu azaltabilir.</li>
                        <li class="ozel">Kavrulmuş kaymak, içerdiği A ve E vitaminleri ile cilt sağlığını destekler ve antioksidan etkiler gösterebilir.</li>
                        <li class="ozel">Kavrulmuş kaymak, sindirimi kolaylaştırır ve probiyotik özellikleri ile sindirim sistemini dengeler.</li>
                        <li class="ozel">Kavrulmuş kaymak, taze peynirin doğal lezzetini korurken, ekstra bir tat katmanı sunar ve yemek deneyimini zenginleştirir.</li>
                    </ul>


                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="modal fade" id="myModal10">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Mayalı Kaymak</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="~/images/uruns/kaymak/mayali/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/kaymak/mayali/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/kaymak/mayali/4.png" alt="Third slide">
                            </div>
                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/ZhLlKf4TDFA" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Mayalı Kaymak Özellikleri</h2>
                    <ul>
                        <li class="ozel">Mayalı kaymak, yoğun ve kremsi bir dokuya sahiptir ve taze sütün zengin lezzetini yoğunlaştırır.</li>
                        <li class="ozel">Mayalı kaymak, fermente edilmiş sütle hazırlandığından probiyotik özelliklere sahiptir ve sindirim sağlığını destekler.</li>
                        <li class="ozel">Mayalı kaymak, içerdiği yüksek kalsiyum ile kemik ve diş sağlığını destekler.</li>
                        <li class="ozel">Mayalı kaymak, protein açısından zengindir ve kas yapımını destekler, tokluk hissini artırır.</li>
                        <li class="ozel">Mayalı kaymak, içerdiği A ve E vitaminleri ile cilt sağlığını korur ve antioksidan özellik gösterir.</li>
                        <li class="ozel">Mayalı kaymak, lezzetli bir atıştırmalık olarak tüketilebilir veya çeşitli tariflerde kullanılabilir.</li>
                        <li class="ozel">Mayalı kaymak, kahvaltılarda veya tatlılarda kullanılarak yemeklere zenginlik katar ve tadını artırır.</li>
                        <li class="ozel">Mayalı kaymak, bağışıklık sistemini güçlendirir ve vücudu hastalıklara karşı korur.</li>
                        <li class="ozel">Mayalı kaymak, sindirimi kolaylaştırır ve sindirim sisteminin dengelenmesine yardımcı olur.</li>
                        <li class="ozel">Mayalı kaymak, fermente sütle hazırlanmasıyla maya kokusu ve ekstra bir aroma katmanı ekler, böylece lezzetini zenginleştirir.</li>
                    </ul>



                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal11">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Pastorize Edilmiş Kaymak</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="~/images/uruns/kaymak/pastorize/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/kaymak/pastorize/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/kaymak/pastorize/4.png" alt="Third slide">
                            </div>
                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/jd7ZPEX9J80" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Pastörize Edilmiş Kaymak Özellikleri</h2>
                    <ul>
                        <li class="ozel">Pastörize edilmiş kaymak, uzun raf ömrüne sahip olmasıyla bilinir ve taze sütün kalitesini korur.</li>
                        <li class="ozel">Pastörize edilmiş kaymak, pastörizasyon işlemiyle zararlı mikroorganizmaların öldürülmesi sağlanır, böylece güvenli bir tüketim sağlanır.</li>
                        <li class="ozel">Pastörize edilmiş kaymak, içerdiği yüksek kalsiyum ile kemik ve diş sağlığını destekler.</li>
                        <li class="ozel">Pastörize edilmiş kaymak, kremsi dokusu ve zengin tadıyla tatlı ve tuzlu tariflerde kullanılarak lezzet katar.</li>
                        <li class="ozel">Pastörize edilmiş kaymak, içerdiği doymuş yağlarla enerji verici bir besin olup tokluk hissini artırır.</li>
                        <li class="ozel">Pastörize edilmiş kaymak, çeşitli vitaminler ve mineraller içerir, böylece sağlıklı bir beslenme programının parçası olabilir.</li>
                        <li class="ozel">Pastörize edilmiş kaymak, kahvaltılarda ekmek veya kruvasanla birlikte tüketilebilir veya tatlılarda ve pastalarda kullanılarak lezzet artırıcı bir bileşen olabilir.</li>
                        <li class="ozel">Pastörize edilmiş kaymak, içerdiği antioksidanlar ile hücreleri korur ve vücutta serbest radikallere karşı mücadele eder.</li>
                        <li class="ozel">Pastörize edilmiş kaymak, sindirimi kolaylaştırır ve sindirim sisteminin sağlıklı çalışmasını destekler.</li>
                        <li class="ozel">Pastörize edilmiş kaymak, özenle işlenmiş ve sterilize edilmiş taze sütten üretildiği için güvenilir bir tüketim seçeneği sunar.</li>
                    </ul>



                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal12">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Taze Kaymak</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="~/images/uruns/kaymak/taze/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/kaymak/taze/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/kaymak/taze/4.png" alt="Third slide">
                            </div>
                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/u2c2mS0MGfw" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Taze Kaymak Özellikleri</h2>
                    <ul>
                        <li class="ozel">Taze kaymak, taze sütten elde edilir ve doğal bir lezzet sunar.</li>
                        <li class="ozel">Taze kaymak, yoğun ve kremsi bir dokuya sahiptir ve tatlı bir lezzetle bütünleşir.</li>
                        <li class="ozel">Taze kaymak, yüksek yağ içeriğiyle besleyicidir ve enerji sağlar.</li>
                        <li class="ozel">Taze kaymak, içerdiği kalsiyum ile kemik sağlığını destekler ve dişleri güçlendirir.</li>
                        <li class="ozel">Taze kaymak, içerdiği vitaminler ve mineraller ile cilt sağlığını destekler ve antioksidan özelliklere sahiptir.</li>
                        <li class="ozel">Taze kaymak, çeşitli tatlı ve tuzlu tariflerde kullanılabilir ve lezzetini artırır.</li>
                        <li class="ozel">Taze kaymak, kahvaltılarda ekmek veya simit ile tüketilebilir veya tatlılar için harika bir eklentidir.</li>
                        <li class="ozel">Taze kaymak, doğal ve katkısız bir ürün olduğu için sağlıklı bir beslenme seçeneğidir.</li>
                        <li class="ozel">Taze kaymak, ferahlatıcı ve doyurucu bir tadıyla keyifli bir atıştırmalıktır.</li>
                        <li class="ozel">Taze kaymak, günlük tüketimde tazelik ve lezzet sunar ve birçok tarifte vazgeçilmez bir bileşen haline gelir.</li>
                    </ul>



                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <p class="satinAlin">Tereyağlar</p>

    <div class="row">
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/tereyagi/feslegenli/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Fesleğenli Tereyağı</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal9">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/tereyagi/keci/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Keçi Sütlü Tereyağı</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal10">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/tereyagi/kekikli/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Kekikli Tereyağı</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal11">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/tereyagi/standarttuzlu/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Standart Tuzlu Tereyağı</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal12">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Modal 1 -->

    <div class="modal fade" id="myModal9">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Fesleğenli Tereyağı</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="~/images/uruns/tereyagi/feslegenli/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/tereyagi/feslegenli/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/tereyagi/feslegenli/4.png" alt="Third slide">
                            </div>
                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/412MN3CkMng" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Fesleğenli Tereyağı Özellikleri</h2>
                    <ul>
                        <li class="ozel">Fesleğenli tereyağı, taze ve doğal malzemelerden yapılan bir lezzetlidir.</li>
                        <li class="ozel">Fesleğenli tereyağı, tereyağının zengin ve kremsi tadına taze fesleğenin aromasını ekler.</li>
                        <li class="ozel">Fesleğenli tereyağı, yüksek kaliteli yağ ve taze fesleğen içeriğiyle besleyicidir ve lezzetlidir.</li>
                        <li class="ozel">Fesleğenli tereyağı, içerdiği yağlar sayesinde enerji sağlar ve tokluk hissi verir.</li>
                        <li class="ozel">Fesleğenli tereyağı, taze fesleğenin antioksidan özelliklerini taşır ve vücudu serbest radikallere karşı korur.</li>
                        <li class="ozel">Fesleğenli tereyağı, çeşitli yemeklerde ve tariflerde kullanılarak lezzetini artırır.</li>
                        <li class="ozel">Fesleğenli tereyağı, kahvaltılarda veya atıştırmalıklarda ekmek üzerinde veya çeşitli hamur işlerinde kullanılabilir.</li>
                        <li class="ozel">Fesleğenli tereyağı, doğal ve sağlıklı bir lezzet seçeneği sunar ve katkı maddesi içermez.</li>
                        <li class="ozel">Fesleğenli tereyağı, yemeklere ve atıştırmalıklara benzersiz bir aroma ve lezzet katmanı ekler.</li>
                        <li class="ozel">Fesleğenli tereyağı, taze fesleğenin ferahlatıcı kokusu ve tereyağının yumuşak tadıyla dengeli bir lezzet sunar.</li>
                    </ul>


                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="modal fade" id="myModal10">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Keçi Sütlü Tereyağı</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="~/images/uruns/tereyagi/keci/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/tereyagi/keci/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/tereyagi/keci/4.png" alt="Third slide">
                            </div>
                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/=5ajv55azyIA" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Keçi Sütlü Tereyağı Özellikleri</h2>
                    <ul>
                        <li class="ozel">Keçi sütlü tereyağı, tereyağının zengin ve kremsi tadını keçi sütünün özel aromasıyla birleştirir.</li>
                        <li class="ozel">Keçi sütlü tereyağı, yüksek kaliteli keçi sütünden üretilir ve doğal besleyiciliğiyle bilinir.</li>
                        <li class="ozel">Keçi sütlü tereyağı, keçi sütünün içerdiği yağlar sayesinde enerji sağlar ve tokluk hissi verir.</li>
                        <li class="ozel">Keçi sütlü tereyağı, yüksek oranda A ve D vitaminleri içerir, böylece kemik sağlığını destekler ve bağışıklık sistemini güçlendirir.</li>
                        <li class="ozel">Keçi sütlü tereyağı, içerdiği yağ asitleri bakımından zengin olduğu için sindirimi kolaylaştırır ve metabolizmayı destekler.</li>
                        <li class="ozel">Keçi sütlü tereyağı, çeşitli yemeklerde ve tariflerde kullanılarak lezzetini artırır ve yemeklere benzersiz bir aroma katar.</li>
                        <li class="ozel">Keçi sütlü tereyağı, kahvaltılarda veya atıştırmalıklarda ekmek üzerinde veya çeşitli hamur işlerinde kullanılabilir.</li>
                        <li class="ozel">Keçi sütlü tereyağı, doğal ve katkısız bir ürün olduğu için sağlıklı bir lezzet seçeneği sunar.</li>
                        <li class="ozel">Keçi sütlü tereyağı, keçi sütünün özel lezzetiyle tereyağının yumuşak tadını birleştirerek benzersiz bir deneyim sunar.</li>
                        <li class="ozel">Keçi sütlü tereyağı, tereyağının doğal zenginliğiyle keçi sütünün ferahlatıcı ve hafif tatlarını bir araya getirir.</li>
                    </ul>



                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal11">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Kekikli Tereyağı</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="~/images/uruns/tereyagi/kekikli/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/tereyagi/kekikli/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/tereyagi/kekikli/4.png" alt="Third slide">
                            </div>
                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/4VkfYtrSHTw" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Kekikli Tereyağı Özellikleri</h2>
                    <ul>
                        <li class="ozel">Kekikli tereyağı, tereyağının zengin ve kremsi tadına kekik bitkisinin özel aromasıyla lezzet katmaktadır.</li>
                        <li class="ozel">Kekikli tereyağı, doğal kekik bitkisi içeriğiyle antioksidan özellikler taşır ve vücudu serbest radikallere karşı korur.</li>
                        <li class="ozel">Kekikli tereyağı, içerdiği yağlar sayesinde enerji verir ve tokluk hissi sağlar.</li>
                        <li class="ozel">Kekikli tereyağı, kekik bitkisinin içeriğiyle sindirimi kolaylaştırır ve sindirim sistemine destek sağlar.</li>
                        <li class="ozel">Kekikli tereyağı, içerdiği yüksek A ve K vitaminleri ile kemik sağlığını destekler ve kan pıhtılaşmasını düzenler.</li>
                        <li class="ozel">Kekikli tereyağı, çeşitli yemeklerde ve tariflerde kullanılarak lezzetini artırır ve yemeklere benzersiz bir aroma katar.</li>
                        <li class="ozel">Kekikli tereyağı, kahvaltılarda veya atıştırmalıklarda ekmek üzerinde veya çeşitli hamur işlerinde kullanılabilir.</li>
                        <li class="ozel">Kekikli tereyağı, doğal ve katkısız bir ürün olduğu için sağlıklı bir lezzet seçeneği sunar.</li>
                        <li class="ozel">Kekikli tereyağı, kekik bitkisinin ferahlatıcı kokusu ve tereyağının yumuşak tadıyla dengeli bir lezzet sunar.</li>
                        <li class="ozel">Kekikli tereyağı, kekik bitkisinin doğal lezzetiyle tereyağının zenginliğini birleştirerek benzersiz bir deneyim sunar.</li>
                    </ul>



                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal12">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Standart Tuzlu Tereyağı</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="~/images/uruns/tereyagi/standarttuzlu/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/tereyagi/standarttuzlu/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="~/images/uruns/tereyagi/standarttuzlu/4.png" alt="Third slide">
                            </div>
                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/GN9uS6WC5SA" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Standart Tuzlu Tereyağı Özellikleri</h2>
                    <ul>
                        <li class="ozel">Standart tuzlu tereyağı, doğal ve saf tereyağıdır ve birçok mutfakta temel bir bileşendir.</li>
                        <li class="ozel">Standart tuzlu tereyağı, tereyağının karakteristik kremsi tadını ve tuzlu lezzetini taşır.</li>
                        <li class="ozel">Standart tuzlu tereyağı, yüksek kaliteli sütten üretilir ve besleyicidir, içerdiği yağlar enerji sağlar.</li>
                        <li class="ozel">Standart tuzlu tereyağı, tuz içeriğiyle tatlandırılmıştır ve yemeklere özel bir aroma ve lezzet katmaktadır.</li>
                        <li class="ozel">Standart tuzlu tereyağı, içerdiği A vitamini ile göz sağlığını destekler ve antioksidan özelliklere sahiptir.</li>
                        <li class="ozel">Standart tuzlu tereyağı, çeşitli tariflerde kullanılarak lezzetini artırır ve pişirme işlemlerinde tercih edilir.</li>
                        <li class="ozel">Standart tuzlu tereyağı, kahvaltılarda ekmek veya kruvasanla birlikte tüketilebilir veya pişirme işlemlerinde kullanılabilir.</li>
                        <li class="ozel">Standart tuzlu tereyağı, sağlıklı ve dengeli bir diyetin parçası olarak tüketildiğinde, vücut için gerekli olan yağları sağlar.</li>
                        <li class="ozel">Standart tuzlu tereyağı, fırınlanmış ürünlerin ve yemeklerin tadını zenginleştirir ve kahvaltıların vazgeçilmez bir parçasıdır.</li>
                        <li class="ozel">Standart tuzlu tereyağı, tereyağının doğal lezzetiyle tuzun dengeli bir karışımını sunar ve birçok mutfakta kullanılabilir.</li>
                    </ul>



                </div>
            </div>
        </div>
    </div>

  
    <br>
    <br>
      <p class="satinAlin">Yoğurtlar</p>

    <div class="row">
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/yogurt/ev/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Ev Yoğurdu</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal13">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/yogurt/organik/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Organik Yoğurt</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal14">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/yogurt/sade/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Sade Yoğurt</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal15">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/yogurt/tamyag/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Tam Yağlı Yoğurt</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal16">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>
       
    </div>

    <!-- Modal 1 -->
    <div class="modal fade" id="myModal13">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ev Yoğurdu</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/ev/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/ev/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/ev/4.png" alt="Third slide">
                            </div>

                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/yYV90bgkDsE" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Ev Yoğurdu Özellikleri</h2>
                    <ul>
                        <li class="ozel">Ev yoğurdu, evde hazırlanan doğal ve fermente bir süt ürünüdür ve birçok tarifte kullanılabilir.</li>
                        <li class="ozel">Ev yoğurdu, içeriğindeki canlı probiyotik bakteriler ile sindirim sistemini destekler ve sindirim sağlığını iyileştirir.</li>
                        <li class="ozel">Ev yoğurdu, yüksek kalsiyum ve protein içeriğiyle kemik ve kas sağlığını destekler ve günlük besin ihtiyaçlarını karşılar.</li>
                        <li class="ozel">Ev yoğurdu, içerdiği probiyotikler sayesinde bağışıklık sistemini güçlendirir ve hastalıklara karşı korur.</li>
                        <li class="ozel">Ev yoğurdu, düşük yağ ve şeker içeriğiyle sağlıklı bir besin seçeneği sunar ve kilo kontrolüne yardımcı olur.</li>
                        <li class="ozel">Ev yoğurdu, içeriğindeki laktik asit ile cildin pH dengesini korur ve cilt sağlığını iyileştirir.</li>
                        <li class="ozel">Ev yoğurdu, çeşitli tariflerde kullanılarak yemeklere kıvam ve lezzet katar ve sağlıklı bir alternatif sunar.</li>
                        <li class="ozel">Ev yoğurdu, evde hazırlanmasıyla taze ve doğal bir lezzet sunar ve katkı maddeleri içermez.</li>
                        <li class="ozel">Ev yoğurdu, ev yapımı olduğu için ferahlatıcı bir tada ve kıvama sahiptir ve çeşitli mutfak uygulamalarında kullanılabilir.</li>
                        <li class="ozel">Ev yoğurdu, ev yapımı olduğu için kişisel tercihlere ve ihtiyaçlara göre özelleştirilebilir ve sağlıklı bir beslenme programının parçası olabilir.</li>
                    </ul>


                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="modal fade" id="myModal14">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Organik Yoğurt</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/organik/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/organik/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/organik/4.png" alt="Third slide">
                            </div>

                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/6_CdsBEvyCE" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Organik Yoğurt Özellikleri</h2>
                    <ul>
                        <li class="ozel">Organik yoğurt, organik sütten üretilir ve katkı maddesi içermez, bu nedenle doğal ve sağlıklı bir besindir.</li>
                        <li class="ozel">Organik yoğurt, içeriğindeki probiyotiklerle sindirim sistemini destekler ve sindirim sağlığını iyileştirir.</li>
                        <li class="ozel">Organik yoğurt, yüksek kalsiyum ve protein içeriğiyle kemik ve kas sağlığını destekler ve günlük besin ihtiyaçlarını karşılar.</li>
                        <li class="ozel">Organik yoğurt, organik sütten üretildiği için hormonlar, antibiyotikler veya sentetik gübreler içermez ve doğaya zarar vermez.</li>
                        <li class="ozel">Organik yoğurt, içeriğindeki probiyotikler sayesinde bağışıklık sistemini güçlendirir ve hastalıklara karşı korur.</li>
                        <li class="ozel">Organik yoğurt, düşük yağ ve şeker içeriğiyle sağlıklı bir besin seçeneği sunar ve kilo kontrolüne yardımcı olur.</li>
                        <li class="ozel">Organik yoğurt, içeriğindeki laktik asit ile cildin pH dengesini korur ve cilt sağlığını iyileştirir.</li>
                        <li class="ozel">Organik yoğurt, çeşitli tariflerde kullanılarak yemeklere kıvam ve lezzet katar ve sağlıklı bir alternatif sunar.</li>
                        <li class="ozel">Organik yoğurt, organik tarım yöntemleriyle üretildiği için doğal kaynakları korur ve çevreye duyarlı bir üründür.</li>
                        <li class="ozel">Organik yoğurt, organik süt ve doğal bileşenlerle üretildiği için taze ve lezzetlidir ve katkı maddeleri içermez.</li>
                    </ul>



                </div>
            </div>
        </div>
    </div>
      <div class="modal fade" id="myModal15">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sade Yoğurt</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/sade/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/sade/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/sade/4.png" alt="Third slide">
                            </div>

                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/p9ilzsf1tMI" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Sade Yoğurt Özellikleri</h2>
                    <ul>
                        <li class="ozel">Sade yoğurt, doğal ve saf sütten elde edilir ve katkı maddesi içermez, bu nedenle sağlıklı bir besindir.</li>
                        <li class="ozel">Sade yoğurt, içeriğindeki probiyotiklerle sindirim sistemini destekler ve sindirim sağlığını iyileştirir.</li>
                        <li class="ozel">Sade yoğurt, yüksek kalsiyum ve protein içeriğiyle kemik ve kas sağlığını destekler ve günlük besin ihtiyaçlarını karşılar.</li>
                        <li class="ozel">Sade yoğurt, düşük yağ ve şeker içeriğiyle sağlıklı bir besin seçeneği sunar ve kilo kontrolüne yardımcı olur.</li>
                        <li class="ozel">Sade yoğurt, içeriğindeki laktik asit ile cildin pH dengesini korur ve cilt sağlığını iyileştirir.</li>
                        <li class="ozel">Sade yoğurt, çeşitli tariflerde kullanılarak yemeklere kıvam ve lezzet katar ve sağlıklı bir alternatif sunar.</li>
                        <li class="ozel">Sade yoğurt, kahvaltılarda meyve veya granola ile birlikte tüketilebilir veya çeşitli yemeklerde sos veya marinat olarak kullanılabilir.</li>
                        <li class="ozel">Sade yoğurt, taze ve doğal bir lezzet sunar ve birçok mutfakta temel bir bileşendir.</li>
                        <li class="ozel">Sade yoğurt, ferahlatıcı bir tadıyla sağlıklı bir atıştırmalık veya ara öğün seçeneği sunar.</li>
                        <li class="ozel">Sade yoğurt, çocuklardan yetişkinlere kadar geniş bir kullanıcı kitlesine hitap eder ve sağlıklı bir beslenme alışkanlığı oluşturur.</li>
                    </ul>



                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal16">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tam Yağlı Yoğurt</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/tamyag/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/tamyag/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/tamyag/4.png" alt="Third slide">
                            </div>

                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/eq4v_u911VI" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Tam Yağlı Yoğurt Özellikleri</h2>
                    <ul>
                        <li class="ozel">Tam yağlı yoğurt, sütün tam yağlı versiyonundan yapılmıştır ve zengin bir lezzet sunar.</li>
                        <li class="ozel">Tam yağlı yoğurt, yüksek yağ içeriğiyle tokluk hissi verir ve enerji sağlar.</li>
                        <li class="ozel">Tam yağlı yoğurt, içeriğindeki kalsiyum ve protein ile kemik sağlığını destekler ve kas yapımını teşvik eder.</li>
                        <li class="ozel">Tam yağlı yoğurt, sütün doğal yağını içerdiği için daha kremamsı ve doyurucu bir dokuya sahiptir.</li>
                        <li class="ozel">Tam yağlı yoğurt, çeşitli meyve veya granola ile birlikte tüketilerek kahvaltı veya atıştırmalık olarak tercih edilebilir.</li>
                        <li class="ozel">Tam yağlı yoğurt, içeriğindeki yağlar sayesinde cilt sağlığını iyileştirir ve cildin nem dengesini korur.</li>
                        <li class="ozel">Tam yağlı yoğurt, sütün tam yağlı versiyonundan yapıldığı için yoğun bir lezzet sunar ve çeşitli tariflerde kullanılabilir.</li>
                        <li class="ozel">Tam yağlı yoğurt, doğal bir ürün olduğu için sağlıklı bir besin seçeneği sunar ve katkı maddesi içermez.</li>
                        <li class="ozel">Tam yağlı yoğurt, geleneksel yoğurt lezzetini sevenler için ideal bir seçenektir ve sağlıklı bir diyetin parçası olabilir.</li>
                        <li class="ozel">Tam yağlı yoğurt, içeriğindeki doymuş yağlar sayesinde tokluk hissini artırır ve açlık hissini azaltır.</li>
                    </ul>


                </div>
            </div>
        </div>
    </div>

   
    <br>
    <br>
  
 
    <br>
    <br>

    <br>
    <br>

    <br>
    <br>



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var modals = document.querySelectorAll('.modal');

            modals.forEach(function (modal) {
                modal.addEventListener('show.bs.modal', function (e) {
                    document.body.style.overflow = 'hidden';
                });

                modal.addEventListener('hidden.bs.modal', function (e) {
                    document.body.style.overflow = 'auto';
                });
            });
        });
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 1000 // Resimlerin geçiş aralığı (milisaniye cinsinden)
            });
        });
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    


</body>
</html>