<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yan Yana Kutular</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <style>

        html, body {
            max-width: 100%;
            overflow-x: hidden;
        }

        h2 {
            text-align: center;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            min-width: 1500px;
        }

        .box {
            width: calc(25% - 10px);
            height: 580px;
            background-color: #f0f0f0;
            border: 3px solid #000;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }

        .resim {
            height: 470px;
            width: 100%; /* Resimlerin container'ı doldurması için */
            border: 2px solid #000;
            border-radius: 10px;
            object-fit: cover; /* Resimlerin oranlarını koruyarak sığması için */
        }

        .btn {
            width: 300px;
            z-index: 1000;
            position: relative;
            left: -1170px;
            top: 29px;
            margin-top: 5px;
        }

        .yazi {
            text-align: center;
            font-weight: bolder;
            font-size: 20px;
            color: black;
            text-align: center;
        }

        .box .container {
            margin-top: auto;
        }


        * {
            box-sizing: border-box;
        }

        .foto {
            max-width: 400px;
            height: 600px;
            margin: auto; /* Resmi yatayda ortalamak için */
            display: block; /* Resmi blok olarak göstermek için */
        }

        .carousel-control-prev,
        .carousel-control-next {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            z-index: 10;
            opacity: 1;
            height: 50px;
            width: 50px;
            position: absolute;
            top: 250px; /* Butonları 200px aşağıya indirir */
        }


        .carousel-control-prev-icon {
            color: white;
            font-size: 24px;
            line-height: 50px;
            content: "\2039"; /* Sol ok karakteri */
        }

        .carousel-control-next-icon {
            color: white;
            font-size: 24px;
            line-height: 50px;
            content: "\203A"; /* Sağ ok karakteri */
        }

        ::-webkit-scrollbar {
            display: none;
        }

        .satinAlin {
            font-family: Arial, sans-serif;
            font-size: 24px;
            font-weight: bold;
            color: yellow; /* Yazı rengi */
            background-color: black; /* Arkaplan rengi */
            padding: 10px 20px; /* Yazı etrafındaki iç boşluk */
            border-radius: 10px; /* Köşelerin yuvarlanma derecesi */
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Gölgelendirme */
        }

        .yeni_resim {
            border: 2px solid #000;
            height: 450px;
            border-radius: 10px;
        }

        .ozel {
            margin-bottom: 20px; /* Maddeler arasında 20 piksel boşluk bırakır */
        }

    </style>
</head>
<body>
    <br>
    <p class="satinAlin">Yoğurtlar</p>

    <div class="row">
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/yogurt/ev/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Ev Yoğurdu</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal13">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/yogurt/organik/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Organik Yoğurt</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal14">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/yogurt/sade/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Sade Yoğurt</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal15">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="box">
                    <img src="/images/uruns/yogurt/tamyag/1.png" class="yeni_resim d-block w-100">
                    <div class="container mt-3">
                        <p class="yazi">Tam Yağlı Yoğurt</p>
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal16">Daha Fazla Bilgi</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal 1 -->
    <div class="modal fade" id="myModal13">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ev Yoğurdu</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/ev/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/ev/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/ev/4.png" alt="Third slide">
                            </div>

                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/yYV90bgkDsE" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Ev Yoğurdu Özellikleri</h2>
                    <ul>
                        <li class="ozel">Ev yoğurdu, evde hazırlanan doğal ve fermente bir süt ürünüdür ve birçok tarifte kullanılabilir.</li>
                        <li class="ozel">Ev yoğurdu, içeriğindeki canlı probiyotik bakteriler ile sindirim sistemini destekler ve sindirim sağlığını iyileştirir.</li>
                        <li class="ozel">Ev yoğurdu, yüksek kalsiyum ve protein içeriğiyle kemik ve kas sağlığını destekler ve günlük besin ihtiyaçlarını karşılar.</li>
                        <li class="ozel">Ev yoğurdu, içerdiği probiyotikler sayesinde bağışıklık sistemini güçlendirir ve hastalıklara karşı korur.</li>
                        <li class="ozel">Ev yoğurdu, düşük yağ ve şeker içeriğiyle sağlıklı bir besin seçeneği sunar ve kilo kontrolüne yardımcı olur.</li>
                        <li class="ozel">Ev yoğurdu, içeriğindeki laktik asit ile cildin pH dengesini korur ve cilt sağlığını iyileştirir.</li>
                        <li class="ozel">Ev yoğurdu, çeşitli tariflerde kullanılarak yemeklere kıvam ve lezzet katar ve sağlıklı bir alternatif sunar.</li>
                        <li class="ozel">Ev yoğurdu, evde hazırlanmasıyla taze ve doğal bir lezzet sunar ve katkı maddeleri içermez.</li>
                        <li class="ozel">Ev yoğurdu, ev yapımı olduğu için ferahlatıcı bir tada ve kıvama sahiptir ve çeşitli mutfak uygulamalarında kullanılabilir.</li>
                        <li class="ozel">Ev yoğurdu, ev yapımı olduğu için kişisel tercihlere ve ihtiyaçlara göre özelleştirilebilir ve sağlıklı bir beslenme programının parçası olabilir.</li>
                    </ul>


                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="modal fade" id="myModal14">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Organik Yoğurt</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/organik/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/organik/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/organik/4.png" alt="Third slide">
                            </div>

                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/6_CdsBEvyCE" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Organik Yoğurt Özellikleri</h2>
                    <ul>
                        <li class="ozel">Organik yoğurt, organik sütten üretilir ve katkı maddesi içermez, bu nedenle doğal ve sağlıklı bir besindir.</li>
                        <li class="ozel">Organik yoğurt, içeriğindeki probiyotiklerle sindirim sistemini destekler ve sindirim sağlığını iyileştirir.</li>
                        <li class="ozel">Organik yoğurt, yüksek kalsiyum ve protein içeriğiyle kemik ve kas sağlığını destekler ve günlük besin ihtiyaçlarını karşılar.</li>
                        <li class="ozel">Organik yoğurt, organik sütten üretildiği için hormonlar, antibiyotikler veya sentetik gübreler içermez ve doğaya zarar vermez.</li>
                        <li class="ozel">Organik yoğurt, içeriğindeki probiyotikler sayesinde bağışıklık sistemini güçlendirir ve hastalıklara karşı korur.</li>
                        <li class="ozel">Organik yoğurt, düşük yağ ve şeker içeriğiyle sağlıklı bir besin seçeneği sunar ve kilo kontrolüne yardımcı olur.</li>
                        <li class="ozel">Organik yoğurt, içeriğindeki laktik asit ile cildin pH dengesini korur ve cilt sağlığını iyileştirir.</li>
                        <li class="ozel">Organik yoğurt, çeşitli tariflerde kullanılarak yemeklere kıvam ve lezzet katar ve sağlıklı bir alternatif sunar.</li>
                        <li class="ozel">Organik yoğurt, organik tarım yöntemleriyle üretildiği için doğal kaynakları korur ve çevreye duyarlı bir üründür.</li>
                        <li class="ozel">Organik yoğurt, organik süt ve doğal bileşenlerle üretildiği için taze ve lezzetlidir ve katkı maddeleri içermez.</li>
                    </ul>



                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal15">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sade Yoğurt</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/sade/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/sade/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/sade/4.png" alt="Third slide">
                            </div>

                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/p9ilzsf1tMI" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Sade Yoğurt Özellikleri</h2>
                    <ul>
                        <li class="ozel">Sade yoğurt, doğal ve saf sütten elde edilir ve katkı maddesi içermez, bu nedenle sağlıklı bir besindir.</li>
                        <li class="ozel">Sade yoğurt, içeriğindeki probiyotiklerle sindirim sistemini destekler ve sindirim sağlığını iyileştirir.</li>
                        <li class="ozel">Sade yoğurt, yüksek kalsiyum ve protein içeriğiyle kemik ve kas sağlığını destekler ve günlük besin ihtiyaçlarını karşılar.</li>
                        <li class="ozel">Sade yoğurt, düşük yağ ve şeker içeriğiyle sağlıklı bir besin seçeneği sunar ve kilo kontrolüne yardımcı olur.</li>
                        <li class="ozel">Sade yoğurt, içeriğindeki laktik asit ile cildin pH dengesini korur ve cilt sağlığını iyileştirir.</li>
                        <li class="ozel">Sade yoğurt, çeşitli tariflerde kullanılarak yemeklere kıvam ve lezzet katar ve sağlıklı bir alternatif sunar.</li>
                        <li class="ozel">Sade yoğurt, kahvaltılarda meyve veya granola ile birlikte tüketilebilir veya çeşitli yemeklerde sos veya marinat olarak kullanılabilir.</li>
                        <li class="ozel">Sade yoğurt, taze ve doğal bir lezzet sunar ve birçok mutfakta temel bir bileşendir.</li>
                        <li class="ozel">Sade yoğurt, ferahlatıcı bir tadıyla sağlıklı bir atıştırmalık veya ara öğün seçeneği sunar.</li>
                        <li class="ozel">Sade yoğurt, çocuklardan yetişkinlere kadar geniş bir kullanıcı kitlesine hitap eder ve sağlıklı bir beslenme alışkanlığı oluşturur.</li>
                    </ul>



                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal16">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tam Yağlı Yoğurt</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/tamyag/2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/tamyag/3.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="foto d-block w-100" src="/images/uruns/yogurt/tamyag/4.png" alt="Third slide">
                            </div>

                        </div>

                    </div>
                    <hr>
                    <iframe style="position:relative; right:-100px; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/eq4v_u911VI" frameborder="0" allowfullscreen></iframe>
                    <hr>
                    <h2>Tam Yağlı Yoğurt Özellikleri</h2>
                    <ul>
                        <li class="ozel">Tam yağlı yoğurt, sütün tam yağlı versiyonundan yapılmıştır ve zengin bir lezzet sunar.</li>
                        <li class="ozel">Tam yağlı yoğurt, yüksek yağ içeriğiyle tokluk hissi verir ve enerji sağlar.</li>
                        <li class="ozel">Tam yağlı yoğurt, içeriğindeki kalsiyum ve protein ile kemik sağlığını destekler ve kas yapımını teşvik eder.</li>
                        <li class="ozel">Tam yağlı yoğurt, sütün doğal yağını içerdiği için daha kremamsı ve doyurucu bir dokuya sahiptir.</li>
                        <li class="ozel">Tam yağlı yoğurt, çeşitli meyve veya granola ile birlikte tüketilerek kahvaltı veya atıştırmalık olarak tercih edilebilir.</li>
                        <li class="ozel">Tam yağlı yoğurt, içeriğindeki yağlar sayesinde cilt sağlığını iyileştirir ve cildin nem dengesini korur.</li>
                        <li class="ozel">Tam yağlı yoğurt, sütün tam yağlı versiyonundan yapıldığı için yoğun bir lezzet sunar ve çeşitli tariflerde kullanılabilir.</li>
                        <li class="ozel">Tam yağlı yoğurt, doğal bir ürün olduğu için sağlıklı bir besin seçeneği sunar ve katkı maddesi içermez.</li>
                        <li class="ozel">Tam yağlı yoğurt, geleneksel yoğurt lezzetini sevenler için ideal bir seçenektir ve sağlıklı bir diyetin parçası olabilir.</li>
                        <li class="ozel">Tam yağlı yoğurt, içeriğindeki doymuş yağlar sayesinde tokluk hissini artırır ve açlık hissini azaltır.</li>
                    </ul>


                </div>
            </div>
        </div>
    </div>
    <br>
    <br>


    <br>
    <br>

    <br>
    <br>

    <br>
    <br>



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var modals = document.querySelectorAll('.modal');

            modals.forEach(function (modal) {
                modal.addEventListener('show.bs.modal', function (e) {
                    document.body.style.overflow = 'hidden';
                });

                modal.addEventListener('hidden.bs.modal', function (e) {
                    document.body.style.overflow = 'auto';
                });
            });
        });
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 1000 // Resimlerin geçiş aralığı (milisaniye cinsinden)
            });
        });
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</body>
</html>